<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude([
        'build',
        'bin',
        'vendor',
        'var',
        'node_modules',
    ])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'strict_param' => false,
        'ordered_imports' => true,
        'phpdoc_align' => false,
        'phpdoc_trim_consecutive_blank_line_separation' => true,
        'phpdoc_order' => true,
        'yoda_style' => false,
        'phpdoc_separation' => false,
        'concat_space' => ['spacing' => 'one'],
        'array_syntax' => ['syntax' => 'short'],
        'line_ending' => false,
        'no_superfluous_phpdoc_tags' => true,
    ])
    ->setFinder($finder)
;
